.gradle/
/local.properties
.idea
/.idea/workspace.xml
/.idea/caches/
/.idea/libraries/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.iml
app/schemas/
/app/build/generated/ksp/debug/java/
/app/build/generated/ksp/debug/kotlin/
/app/build/generated/ap_generated_sources/debug/out/
/build
/app/build/
/gradle/wrapper/gradle-wrapper.jar
